ul,
ol {
    list-style: none;
}

.navbar {
    background-color: #333 !important;
}

.navbar li a {
    color: white;
}

.navbar li a:hover {
    color: red;
}

.navbar li {
    margin: 0 10px;
}

.num1 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 23px;
}

.num2 {
    color: red;
}

.num3 {
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.num4 {
    color: white;
    margin-left: 240px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace
}

.num5 {
    background-color: red;
    padding: 20px 0px;
    color: white;
}

.num6 {
    width: 200px;
    height: 200px;
}

.num7 {
    background-color: black;
    border-color: grey;
}

.num8 {
    border-color: black;
}

.num10 {
    text-align: center;
    color: white;
}

.carousel-inner img {
    width: 100%;
}

.bgf {
    background-color: black;
}

.numc {
    color: white;
}

.numc1 {
    color: white;
}

.marg {
    display: block;
    max-width: 100%;
}

.marg1 {
    display: block;
    max-width: 100%;
    height: 100%;
}

.marg2 {
    display: block;
    max-width: 100%;
    height: 100%;
}

.marg4 {
    margin-left: 40px;
}

.src1 {
    margin-top: 50px;
    margin-left: 100px;
}

.marg3 {
    margin-left: 115px;
    margin-top: 85px;
}

.card-body a:hover {
    color: red;
}